@media screen and (min-width: 768px) {
	
	body {
	background-image: url("../images/yellow-wallpaper.jpg");
	background-attachment: fixed;
	}

	.wrapper {
		width: 75%;
	}


	.contact-label {
		float: left;
		margin-top: 1.4em;
		width:25%;
	}

	input[type="text"], input[type="email"], select {
		width: 75%;
	}
	
	.form-item br {
		display: none;
	}

}

@media screen and (min-width: 1024px) {
	.wrapper {
		width: 50%;
	}
}